/** @format */
.bckImg {
  background-image: url("https://i.gifer.com/R3MI.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.car {
  position: absolute;
  left: 43%;
  top: 40%;
}
